html,
body {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', 'comic sans ms', 'Times New Roman', Times,
    serif;
  font-size: 16px;
  background-color: #e5e6e4;
}
